html
    head
        title Download
        link(rel="stylesheet",  href="/css/app.css")
    body
        header
            ul.left
                li.add
                li.delete
            ul.right
                li.play
                li.pause
        .container