.modal.add {
    width: 330px;
    height: 179px;
    margin: -89px 0 0 -170px;

    input {
        border: 1px solid #919191;
        width: 300px;
        padding: 10px;
        margin-bottom: 15px;
    }
}